---
import { Picture } from '@astrojs/image/components';

export interface Props {
  rootState?: string;
  title?: string;
  subtitle?: string;
  highlight?: string;
  content?: string;
  image?: string | any; // TODO: find HTMLElementProps
  isReversed?: boolean;
  isAfterContent?: boolean;
}

const { image = await Astro.slots.render('image'), rootState = await Astro.slots.render('rootState') } = Astro.props;
---

<div class="mx-auto max-w-7xl p-4 md:px-8">
  <div aria-hidden="true" class="mt-10 md:mt-0 md:basis-1/2">
    {
      image && (
        <div class={`relative m-auto max-w-4xl`}>
          {typeof image === 'string' ? (
            <Fragment set:html={image} />
          ) : (
            <Picture
              class={`mx-auto w-full bg-gray-500 shadow-lg ${rootState}`}
              width={500}
              height={500}
              widths={[400, 768]}
              sizes="(max-width: 768px) 100vw, 432px"
              aspectRatio={1}
              {...image}
            />
          )}
        </div>
      )
    }
  </div>
</div>
