---
import { parse } from 'node-html-parser';

export interface Props {
  header: string;
  rootClass?: string;
}

const { header, rootClass } = Astro.props;

const rawHtmlSlides = await Astro.slots.render('default');
const content = Array.from(parse(rawHtmlSlides).querySelectorAll('> *'));
---

<section class="flex justify-center px-4 sm:px-20 mx-auto max-w-3xl my-3">
  <div class="grid gap-6 bg-black/[0.5] rounded-lg">
    <div class="py-4 md:pr-16 mb-4 ml-8 md:mb-0">
      {header && <h2 class="mb-5 text-xl lg:text-l font-bold font-heading text-white" set:html={header} />}
      <div class="w-[19rem] sm:w-full h-px dark:bg-slate-400 bg-slate-400 -translate-y-4"></div>
      {content.map((x) => <div class={rootClass}>{x}</div>)}
    </div>
  </div>
</section>
