---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Content
    rootState={'w-[20rem] rounded-full'}
    image={{
      src: import('~/assets/images/portrait.png'),
    }}
  />
  <Hero>
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Jordan Ibrahim</span>
    </Fragment>
    <Fragment slot="subtitle">
      <span class="hidden sm:inline"> subtext</span>
    </Fragment>
  </Hero>

  <div class="flex align-center justify-center">
    <Steps
      title="Get your dream website up and running in no time with AstroWind."
      items={[
        {
          title: 'Step 1: <span class="font-medium">Download</span>',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula.',
          icon: 'tabler:package',
        },
        {
          title: 'Step 2: <span class="font-medium">Add content</em>',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla.',
          icon: 'tabler:letter-case',
        },
        {
          title: 'Step 3: <span class="font-medium">Customize styles</span>',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.',
          icon: 'tabler:paint',
        },
        {
          title: 'Ready!',
          icon: 'tabler:check',
        },
      ]}
    />
  </div>
</Layout>
