---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Steps from '~/components/widgets/Steps.astro';
import { Image } from '@astrojs/image/components';
import portrait from '~/assets/images/selfie.png';
import PostTags from '~/components/blog/Tags.astro';

import leidos from '~/assets/images/1.jpg';
import telstra from '~/assets/images/2.jpg';
import bp from '~/assets/images/3.jpg';
import tryThai from '~/assets/images/4.jpg';

import swinburne from '~/assets/images/5.jpg';
import camberwell from '~/assets/images/6.jpg';
import cisco from '~/assets/images/7.jpg';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class={'flex content-center items-center flex-col flex-wrap'}>
    <Image src={portrait} alt="me" class={'rounded-full w-[10rem]'} />
    <span class="text-[2rem] dark:text-white">Jordan Ibrahim</span>
  </div>

  <div class={'flex content-center items-center flex-col flex-wrap mt-4 mb-10'}>
    <span class="hidden sm:inline"> Skillset</span>
    <PostTags tags={['C#', 'React', 'JavaScript', 'Typescript']} />
    <PostTags tags={['.NET Core v6', 'ASP.NET', 'SQL', 'Redux']} />
    <PostTags tags={['RESTful WebServices', 'Microservices', 'Docker', 'Jenkins']} />
    <PostTags tags={['Unit Testing', 'Test Development', 'Tailwind CSS', 'Gitlab']} />
  </div>

  <Steps
    title="Experience"
    items={[
      {
        title: 'Leidos Australia',
        description:
          'Software Engineer within the C4ISR division developing bespoke microservices and web applications using primarily C#, React, .NET Core v6, SQL and Docker.',
        position: 'Software Engineer',
        timeline: '2022+',
        image: leidos,
      },
      {
        title: 'Telstra',
        description:
          'TPAMS project managment office, a closed panel government contract providing telecommunication services. Ensuring smooth continuity across all aspects of Customer Service and Delivery.',
        position: 'Project Technical Specialist',
        timeline: '2019 - 2020',
        image: telstra,
      },
      {
        title: 'BP',
        description: 'Customer service ...',
        position: 'Console Operator',
        timeline: '2014 - 2019',
        image: bp,
      },
      {
        title: 'Try-Thai',
        description: 'Customer service ...',
        position: 'Cashier',
        timeline: '2009 - 2012',
        image: tryThai,
      },
    ]}
  />

  <Steps
    title="Education"
    items={[
      {
        title: 'Bachelor of Engineering (Software)(Honours)',
        description: 'something',
        position: 'Swinburne University of Technology',
        timeline: '2015 - 2020',
        image: swinburne,
      },
      {
        title: 'Victorian Certificate of Education',
        description: 'something',
        position: 'Camberwell Grammar School',
        timeline: '2010 - 2014',
        image: camberwell,
      },
      {
        title: 'CCNA v5 - Routing & Switching',
        description: "VCE VET partial completion of Cisco Networking Academy's Cisco CCNA curriculum",
        position: 'CISCO Networking Academy',
        timeline: '2013',
        image: cisco,
      },
    ]}
  />

  <div></div>
</Layout>
