---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Steps from '~/components/widgets/Steps.astro';
import { Image } from '@astrojs/image/components';
import portrait from '~/assets/images/selfie.png';

import leidos from '~/assets/images/1.jpg';
import telstra from '~/assets/images/2.jpg';
import bp from '~/assets/images/3.jpg';
import tryThai from '~/assets/images/4.png';

import swinburne from '~/assets/images/5.jpg';
import camberwell from '~/assets/images/6.jpg';
import cisco from '~/assets/images/7.jpg';
import TextDisplay from '~/components/widgets/TextDisplay';
import Content from '~/components/widgets/Content';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <section class="flex justify-center px-4 sm:px-20 mx-auto max-w-3xl -mt-2">
    <div class="grid gap-6">
      <div class={'flex content-center items-center flex-col flex-wrap'}>
        <Image src={portrait} alt="me" class={'rounded-full w-[10rem]'} />
        <span class="text-[1rem] mt-2 px-2 text-white dark:text-white bg-black/[0.6] rounded-full"
          >Hey I'm Jordan, welcome to my website!</span
        >
      </div>
    </div>
  </section>

  <section class="flex justify-center mx-auto w-[380px] sm:w-[30rem]">
    <div class="mt-2 flex flex-row justify-center content-center items-center flex-wrap">
      {
        [
          'C#',
          'React',
          'JavaScript',
          'Typescript',
          '.NET Core v6',
          'SQL',
          'ASP.NET',
          'Redux',
          'Docker',
          'Microservices',
          'Jenkins',
          'RESTful WebServices',
          'Unit Testing',
          'Tailwind CSS',
          'Confluence',
          'Jira',
          'Gitlab',
        ].map((x) => {
          return (
            <span class=" mr-1 mb-2 py-1 font-medium text-[0.8rem] mt-2 px-2 bg-zinc-900 text-white dark:text-white rounded-full">
              {x}
            </span>
          );
        })
      }
    </div>
  </section>

  <Steps
    title="Experience"
    items={[
      {
        title: 'Leidos Australia',
        description:
          'Full-Stack developer within the C4ISR division creating bespoke microservices and web applications using primarily C#, React, .NET Core v6, SQL and Docker.',
        position: 'Software Engineer',
        timeline: '2022+',
        image: leidos,
      },
      {
        title: 'Telstra',
        description:
          'TPAMS project managment office, a closed panel government contract providing telecommunication services. Ensuring smooth continuity across all aspects of Customer Service and Delivery.',
        position: 'Project Technical Specialist',
        timeline: '2019 - 2020',
        image: telstra,
      },
      {
        title: 'BP',
        description: 'Primarily customer service, problem-solving, inventory management and knowledge of procedures.',
        position: 'Console Operator',
        timeline: '2014 - 2019',
        image: bp,
      },
      {
        title: 'Try-Thai',
        description: 'Primarily customer service, problem-solving, inventory management and knowledge of procedures.',
        position: 'Cashier',
        timeline: '2009 - 2012',
        image: tryThai,
      },
    ]}
  />

  <Steps
    title="Education"
    items={[
      {
        title: 'Bachelor of Engineering (Software Engineering)(Honours) ',
        description: 'With Distinction',
        position: 'Swinburne University of Technology',
        timeline: '2015 - 2020',
        image: swinburne,
      },
      {
        title: 'Victorian Certificate of Education',
        position: 'Camberwell Grammar School',
        timeline: '2010 - 2014',
        image: camberwell,
      },
      {
        title: 'CCNA v5 - Routing & Switching',
        description: "VCE VET partial completion of Cisco Networking Academy's Cisco CCNA curriculum",
        position: 'CISCO Networking Academy',
        timeline: '2013',
        image: cisco,
      },
    ]}
  />

  <Content
    header="test"
    content={(
      <TextDisplay
        items={[
          {
            title: 'Bachelor of Engineering (Software Engineering)(Honours) ',
            description: 'a',
          },
          {
            description: 'b',
          },
        ]}
      />
    )}
  />

  <section class="flex justify-center px-4 sm:px-20 mx-auto max-w-3xl">
    <div class="grid gap-6 bg-black/[0.6] rounded-lg">
      <div class="py-4 md:pr-16 mb-4 ml-8 md:mb-0 text-slate-300">
        <h2 class="mb-5 text-xl lg:text-l font-bold font-heading text-white" set:html={'Professional Profile'} />
        <div class="w-[19rem] sm:w-full h-px dark:bg-slate-400 bg-slate-400 -translate-y-4"></div>
        <div class="w-[19rem] sm:w-full flex flex-col space-y-4 -mt-2 text-xs">
          <div>
            Having grown up surrounded by multiple family business ventures, I have developed a valuable work ethic and
            skills in management and leadership. I set high standards of myself to produce the best results for the
            businesses holistically.
          </div>
          <div>
            I pride myself on my ability to learn, and tenacity when problem-solving. I hope to apply my outgoing and
            enthusiastic nature to work in a friendly and learning-focused environment, and in doing so, provide value
            in the workplace. I am committed, approachable and very dependable.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="flex justify-center px-4 sm:px-20 mx-auto max-w-3xl my-3">
    <div class="grid gap-6 bg-black/[0.6] rounded-lg">
      <div class="py-4 md:pr-16 mb-4 ml-8 md:mb-0 text-slate-300">
        <h2 class="mb-3 text-xl lg:text-l font-bold font-heading text-white" set:html={'Skill Highlights'} />
        <div class="w-[19rem] sm:w-full h-px dark:bg-slate-400 bg-slate-400 -translate-y-2"></div>

        <p class="text-l font-bold dark:text-slate-300 text-slate-300" set:html={'Teamwork & Leadership'} />
        <div class="w-[19rem] sm:w-full pl-5 space-y-2 text-xs mt-1 content-center items-center">
          <div>
            Ability to work in a team dynamic, demonstrated through the magnitude of group projects encountered
            throughout my studies and in industry.
          </div>

          <div>
            Leadership and management during my experience working at BP, having trained and accompanied a handful of
            their now senior staff members.
          </div>
        </div>

        <p class="text-l font-bold dark:text-slate-300 text-slate-300 mt-2" set:html={'Problem-Solving'} />
        <div class="w-[19rem] sm:w-full pl-5 space-y-2 text-xs mt-1 content-center items-center">
          <div>
            Entrusted throughout my time at Telstra to independently spearhead my own solution exploration, gathering
            all necessary information across various departments to formulate and introduce new tools, software and or
            procedures.
          </div>
          <div>
            All university projects I have encountered require a great deal of problem-solving in order to successfully
            complete.
          </div>
          <div>
            Having worked multiple customer-service jobs, a service-station and a restaurant, both demand the ability to
            think on your feet and solve issues you may not be ready for.
          </div>
        </div>

        <p class="text-l font-bold dark:text-slate-300 text-slate-300 mt-2" set:html={'People & Communication'} />
        <div class="w-[19rem] sm:w-full pl-5 space-y-2 text-xs mt-1 content-center items-center">
          <div>
            Through multiple customer service jobs, university and corporate roles, I have acquired the ability to
            comfortably communicate and express myself when dealing with others.
          </div>

          <div>
            Recognised for my communication skills during my industry experience, I was tasked with conducting 4 of the
            5 streams of regular weekly meetings governing a variety of objectives across the PMO.
          </div>
        </div>
      </div>
    </div>
  </section>

  <span class="translate-x-8 sm:translate-x-0 flex justify-center text-xs mt-6 pb-6 pr-14 text-white"
    >© 2023 Jordan Ibrahim</span
  >
</Layout>
