---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import { Image } from '@astrojs/image/components';
import portrait from '~/assets/images/selfie.png';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class={'flex justify-center'}>
    <Image src={portrait} alt="me" class={'rounded-full'} />
  </div>
  <Hero>
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Jordan Ibrahim</span>
    </Fragment>
    <Fragment slot="subtitle">
      <span class="hidden sm:inline"> subtext</span>
    </Fragment>
  </Hero>

  <Steps
    title="Experience"
    items={[
      {
        title: 'Leidos Australia',
        description:
          'Software Engineer within the C4ISR division developing bespoke microservices and web applications using primarily C#, React, Typescript, SQL, Docker and Gitlab.',
        icon: 'tabler:package',
      },
      {
        title: 'Telstra',
        description:
          'Project technical specialist for the TPAMS PMO, a closed panel government contract providing telecommunication services. Ensuring smooth continuity across all aspects of Customer Service and Delivery.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'BP',
        description: 'Console Operator',
        icon: 'tabler:paint',
      },
      {
        title: 'Try-Thai',
        description: 'Cashier',
        icon: 'tabler:paint',
      },
    ]}
  />
</Layout>
