---
import { getPermalink } from '~/utils/permalinks';

import { BLOG } from '~/config.mjs';
import type { Post } from '~/types';

export interface Props {
  tags: Post['tags'];
  class?: string;
}

const { tags } = Astro.props;
---

{
  tags && Array.isArray(tags) && (
    <ul>
      {tags.map((tag) => (
        <li class="bg-zinc-900  dark:bg-zinc-900 inline-block mr-1 mb-2 py-0.5 px-2 font-medium rounded-full text-[0.8rem]">
          {BLOG?.tag?.disabled ? (
            tag
          ) : (
            <a href={getPermalink(tag, 'tag')} class="text-muted text-white dark:bg-zinc-900 dark:text-white">
              {tag}
            </a>
          )}
        </li>
      ))}
    </ul>
  )
}
