---
import '~/assets/styles/base.css';

import MetaTags from '~/components/common/MetaTags.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';

import { MetaSEO } from '~/types';
import { SITE } from '~/config.mjs';

export interface Props {
  meta?: MetaSEO;
}

const { meta = {} } = Astro.props;
const { language = 'en', textDirection = 'ltr' } = SITE;
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <MetaTags {...meta} />
  </head>

  <body class="antialiased text-page bg-light dark:text-slate-300 tracking-tight dark:bg-zinc-900">
    <slot />
    <BasicScripts />
    <style is:global>
      img {
        content-visibility: auto;
      }
      html,
      body {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
      }

      canvas {
        width: 100%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        pointer-events: auto;
      }
    </style>
    <script is:inline>
      // @ts-nocheck
      window.ga =
        window.ga ||
        function () {
          (ga.q = ga.q || []).push(arguments);
        };
      ga.l = +new Date();
      ga('create', 'UA-105392568-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- <canvas></canvas> -->
    <span class="promo-close w-[100%] h-[100%]"></span>
    <script is:inline src="./script.js"></script>
  </body>
</html>
